.layout {
    width: fit-content;
    margin: 1rem auto;
    padding: 50px 50px 50px 50px;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    color: white;
    background: grey;
    border-radius: 1rem;
}
@media only screen and (max-width: 1550px) {
  .layout {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 1160px) {
  .layout {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 800px) {
  .layout {
    grid-template-columns: repeat(1, 1fr);
  }
}
.layout section {
  background: #2a475e;
  border-radius: 1rem;
  padding: 1rem 2rem;
  width: 20rem;
  height: 22rem;
  text-align: center;
}
.layout section img{
  width:200px;
  height:240px;
  border-radius: 1rem;
}
.header {
  text-align: center;
  color: white;
}
.mainBody {
  background: rgb(45, 45, 63);
  height:100%;
}
html {
  height: 100%;
  background: rgb(45, 45, 63);
}